ul{
    list-style-type: none;
    background-color: black;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
li{
    float: left;
    
}
li a{
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
li a:hover{
     color: pink;
     background-color: white;
     font-size: xx-large;
     border-radius: 90px;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
}
span{
    color: blue;
    text-align: justify;
    line-height: 1.5;z
.bottom-left{
    position: absolute;
    bottom: 100px;
}
h2{
    border: 1px solid;
    width: 300px;
    background-color: pink ;
}
}
img :hover{
    background-color: bisque;
    border-radius: 10px;
    border: solid 10px;
    transition: filter 0.3s ;
}
img :hover{
    opacity: 50%;
}
